@import "reset.css";
@import "bar.css";
@import "splash.css";
@import "neviga.css";

body {
    position: relative;
}

.header {
    width: 100%;
    height: 80px;
    background-color:white;
    flex-direction: unset;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    box-shadow: 1px 1px 5px 2px rgba(70, 23, 97, 0.1);
    z-index: 100;

    
}

.text{
    width: max-content;
    height: max-content;
    color: black;
    font-family: 'Indie Flower', cursive;
}

.box {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    /*box-shadow: 1px 1px 5px 2px rgba(70, 23, 97, 0.1);*/
    display: flex;
    flex-direction: column-reverse;
    /*flex-wrap: wrap;*/
    align-items: center;    
    padding-top: 20px;
    margin-bottom: 100px;
    
}


.image {
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: left;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 2px rgba(70, 23, 97, 0.1);
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;

    position: relative;

}
@media ( min-width: 768px ) {
    .image{
        width: 500px;
        height: 550px;
    }

    
}


.bg_img {
  
    width: 320px;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    margin-top: 30px;
    position: relative;
}
@media ( min-width: 768px ) {
    .bg_img{
        width: 520px;
        height: 400px;
        margin-top: 0px;
    }
    

    
}

#bg_img1 {
    background-image: url(./../img/1.jpg);

}

#bg_img2 {
    background-image: url(./../img/2.jpg);

}

#bg_img3 {
    background-image: url(./../img/3.jpg);

}
#bg_img4 {
    background-image: url(./../img/4.jpg);

}
#bg_img5 {
    background-image: url(./../img/5.jpg);

}
#bg_img6 {
    background-image: url(./../img/6.jpg);

}
#bg_img7 {
    background-image: url(./../img/7.jpg);

}
#bg_img8 {
    background-image: url(./../img/8.jpg);

}
#bg_img9 {
    background-image: url(./../img/9.jpg);

}
#bg_img10 {
    background-image: url(./../img/10.jpg);

}
#bg_img11 {
    background-image: url(./../img/10.jpg);

}

.image_text {
    width: 100%;
    height: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: rgba(123, 67, 153, 0.9);
    font-family: 'Righteous', cursive;
    top: 10px;
    position:absolute;
}



.text_cont {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 290px;
    height: 3em;
    /*font-family: 'Gamja Flower', cursive; */
    font-family: 'Poor Story', cursive;
    color: rgba(26, 7, 36, 0.9);
   
}

@media ( min-width: 768px ) {

    
    .image_text {
        width: 100%;
        margin-top: 10px;
        margin-left: 50px;
        font-family: 'Righteous', cursive;   
    }
    .text_cont {
        width: 480px;
    }

    
}

.neviga {
    width: 100%;
    height: 30px;
    display: inline-block;

}


