.last_or_late {
    border: none;
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(121, 51, 161, 0.2);
    font-family: 'Righteous', cursive;
    font-size: 0.8em;
    color:rgba(121, 51, 161, 0.4) ;
    position: absolute;
    transition: ease-in-out 0.2s;
    top: 70;
    
}
.last_or_late:hover {
    width:95px;
    height: 47px;
    font-size: 0.75em;
} 
.last_or_late:active {
    width:95px;
    height: 47px;
    font-size: 0.75em;
    background-color:rgba(121, 51, 161, 0.4) ;
    color: white;
}