#headerChanger {

    width: 100%;
    height: 80px;
    background-color:white;
    flex-direction: unset;
    display: flex;
    justify-content: center;
    position: fixed;
    
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    box-shadow: 1px 1px 5px 2px rgba(70, 23, 97, 0.1);
    z-index: 100;
    transition: ease-in-out 0.5s;
    top: -300px;
}