@keyframes splash_screen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    top: 0;
    animation: splash_screen 0.5s ease-in-out forwards;
    animation-delay: 1s;
    flex-direction: column;
    
}

@keyframes splashText {
    0% {
        filter: blur(0);


    }
    50% {
        filter: blur(30px);
    }
    100% {
        filter: blur(30px);
    }
}

.splash_text {
    font-size: 100px;
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Ubuntu', sans-serif;

    margin-bottom: 50px;
    animation: splashText 0.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes xRotate {
    0% {
        transform: rotate(0);

    }
    80% {
        transform: rotate(360deg);
        filter: blur(0);


    }
    100% {
        filter: blur(30px);
    }
}

#splash_text_x {

    animation: ease-in-out 1s xRotate forwards;
    font-family: 'Righteous', cursive;

}

